# project
.vs
.vscode
*.json
unix_external/sal/sal.h

# build
build
build_exe
*.so
*.dll
*.exe
texconv

# test
python
*.py
out
*.dds
*.tga

# script
*.bat
!batch_files/*.bat
*.sh
!shell_scripts/*.sh
memo*
