# project
.vs
.vscode
*.json
unix_external/sal/sal.h

# build
build
build_exe
*.so
*.dll
*.dylib
*.exe
texconv
texassemble

# test
python
*.py
out
*.dds
*.tga
*.png
!test.png
*.jpg

# script
*.bat
!batch_files/*.bat
*.sh
!shell_scripts/*.sh
!scripts/*.bat
!scripts/*.sh
memo*
