# Run building workflows for all supported platforms
name: build_all

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

env:
  ZIP_NAME: TexconvCustomDLL

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.check-tag.outputs.tag }}
    steps:

      - name: Check tag
        id: check-tag
        run: |
          if [[ ${{ github.ref }} == refs/tags/v* ]]; then
            TAG=$(echo ${{ github.ref }} | sed -e "s#refs/tags/##g")
          else
            TAG=$(echo ${{ github.sha }} | cut -c1-7)
          fi
          echo "tag=$TAG" >> "$GITHUB_OUTPUT"
        shell: bash

      - name: Create Release Draft
        id: create-release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.check-tag.outputs.tag }}
          name: ${{ steps.check-tag.outputs.tag }}
          body: |
            Changelog
            - First Change
            - Second Change
          draft: true
          prerelease: false

  build_windows:
    strategy:
      matrix:
        include:
          - os: windows-latest
            arch: x64
          - os: windows-11-arm
            arch: arm64
    runs-on: ${{ matrix.os }}
    needs: setup
    steps:
      - uses: actions/checkout@v4
      - run: git submodule update --init --recursive DirectXTex

      - name: build exe
        run: |
          batch_files/build.bat --use-optional-formats
          batch_files/build.bat --use-optional-formats --build-as-exe

      - name: Copy files
        run: |
          mkdir -p release
          cp texconv.dll release/
          cp texconv.exe release/
          cp texassemble.exe release/
          cp changelog.txt release/
          cp LICENSE release/
          cp THIRD_PARTY_LICENSES.txt release/
        shell: bash

      - name: Archive Release
        uses: thedoctor0/zip-release@master
        with:
          directory: 'release'
          type: 'zip'
          filename: '${{ env.ZIP_NAME }}-${{ needs.setup.outputs.tag }}-${{ runner.os }}-${{ matrix.arch }}.zip'
          exclusions: '*.git* .gitignore'

      - name: Upload Release Asset
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload ${{ needs.setup.outputs.tag }} release/${{ env.ZIP_NAME }}-${{ needs.setup.outputs.tag }}-${{ runner.os }}-${{ matrix.arch }}.zip

  build_macos:
    runs-on: macos-latest
    strategy:
      matrix:
        include:
          - arch: arm64
            flag: ""
          - arch: universal
            flag: "--universal"
        arch: [arm64, universal]
    needs: setup
    steps:
      - uses: actions/checkout@v4
      - run: |
          git submodule update --init --recursive --recommend-shallow --depth 1

      - name: build texconv
        run: |
          brew install nasm
          ./shell_scripts/build.sh --use-optional-formats ${{ matrix.flag }}
          ./shell_scripts/build.sh --use-optional-formats --build-as-exe  ${{ matrix.flag }}

      - name: Copy files
        run: |
          mkdir -p release/${{ env.ZIP_NAME }}
          cp libtexconv.* release/${{ env.ZIP_NAME }}
          cp texconv release/${{ env.ZIP_NAME }}
          cp texassemble release/${{ env.ZIP_NAME }}
          cp changelog.txt release/${{ env.ZIP_NAME }}
          cp LICENSE release/${{ env.ZIP_NAME }}
          cp THIRD_PARTY_LICENSES.txt release/${{ env.ZIP_NAME }}
          cd release
          tar -Jcvf ${{ env.ZIP_NAME }}-${{ needs.setup.outputs.tag }}-${{ runner.os }}-${{ matrix.arch }}.tar.xz ${{ env.ZIP_NAME }}

      - name: Upload Release Asset
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload ${{ needs.setup.outputs.tag }} release/${{ env.ZIP_NAME }}-${{ needs.setup.outputs.tag }}-${{ runner.os }}-${{ matrix.arch }}.tar.xz

  build_linux:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v4
      - run: |
          git submodule update --init --recursive --recommend-shallow --depth 1

      - name: build texconv
        run: |
          docker build --build-arg JPGPNG=true -t texconv -f Dockerfile_Ubuntu ./

      - name: Copy files
        run: |
          mkdir -p release/${{ env.ZIP_NAME }}
          docker run --name texconv texconv
          docker cp texconv:/Texconv-Custom-DLL/libtexconv.so ./release/${{ env.ZIP_NAME }}
          docker cp texconv:/Texconv-Custom-DLL/texconv ./release/${{ env.ZIP_NAME }}
          docker cp texconv:/Texconv-Custom-DLL/texassemble ./release/${{ env.ZIP_NAME }}
          cp changelog.txt release/${{ env.ZIP_NAME }}
          cp LICENSE release/${{ env.ZIP_NAME }}
          cp THIRD_PARTY_LICENSES.txt release/${{ env.ZIP_NAME }}
          cd release
          tar -Jcvf ${{ env.ZIP_NAME }}-${{ needs.setup.outputs.tag }}-${{ runner.os }}-x64.tar.xz ${{ env.ZIP_NAME }}

      - name: Upload Release Asset
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload ${{ needs.setup.outputs.tag }} release/${{ env.ZIP_NAME }}-${{ needs.setup.outputs.tag }}-${{ runner.os }}-x64.tar.xz
