# Build a shared library and an executable for macOS
name: build_mac

on:
  workflow_dispatch:

env:
  ZIP_NAME: TexconvCustomDLL

jobs:
  build:
    strategy:
      matrix:
        use_libs: [false, true]
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          git submodule update --init --recursive --recommend-shallow --depth 1

      - name: build texconv
        if: matrix.use_libs == false
        run: |
          ./shell_scripts/build.sh
          ./shell_scripts/build_as_exe.sh

      - name: build texconv with libjpeg and libpng
        if: matrix.use_libs == true
        run: |
          brew install nasm
          ./shell_scripts/build_with_jpg_png.sh
          ./shell_scripts/build_as_exe_with_jpg_png.sh

      - name: Copy files
        run: |
          mkdir -p release/${{ env.ZIP_NAME }}
          cp libtexconv.dylib release/${{ env.ZIP_NAME }}
          cp texconv release/${{ env.ZIP_NAME }}
          cp texassemble release/${{ env.ZIP_NAME }}
          cp changelog.txt release/${{ env.ZIP_NAME }}
          cp LICENSE release/${{ env.ZIP_NAME }}
          cp THIRD_PARTY_LICENSES.txt release/${{ env.ZIP_NAME }}
          cd release
          tar -Jcvf ${{ env.ZIP_NAME }}-${{ runner.os }}-arm64${{ ((matrix.use_libs == false) && '-no-deps') || '' }}.tar.xz ${{ env.ZIP_NAME }}

      - name: Create Release Draft
        id: create-release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref }}
          name: ${{ github.ref }}
          body: |
            Changelog
            - First Change
            - Second Change
          draft: true
          prerelease: false

      - name: Upload Release Asset
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload ${{ github.ref }} release/${{ env.ZIP_NAME }}-${{ runner.os }}-arm64${{ ((matrix.use_libs == false) && '-no-deps') || '' }}.tar.xz
