# Build dll and exe for Windows
name: build_windows

on:
  workflow_dispatch:

env:
  ZIP_NAME: TexconvCustomDLL

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows-latest
            arch: x64
          - os: windows-11-arm
            arch: arm64
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - run: git submodule update --init --recursive DirectXTex

      - name: build exe
        run: |
          batch_files/build.bat --use-optional-formats
          batch_files/build.bat --use-optional-formats --build-as-exe

      - name: Copy files
        run: |
          mkdir -p release
          cp texconv.dll release/
          cp texconv.exe release/
          cp texassemble.exe release/
          cp changelog.txt release/
          cp LICENSE release/
          cp THIRD_PARTY_LICENSES.txt release/
        shell: bash

      - name: Archive Release
        uses: thedoctor0/zip-release@master
        with:
          directory: 'release'
          type: 'zip'
          filename: '${{ env.ZIP_NAME }}-${{ runner.os }}-${{ matrix.arch }}.zip'
          exclusions: '*.git* .gitignore'

      - name: Create Release Draft
        id: create-release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref }}
          name: ${{ github.ref }}
          body: |
            Changelog
            - First Change
            - Second Change
          draft: true
          prerelease: false

      - name: Upload Release Asset
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload ${{ github.ref }} release/${{ env.ZIP_NAME }}-${{ runner.os }}-${{ matrix.arch }}.zip
