# Build a shared library and an executable for Ubuntu
name: build_ubuntu

on:
  workflow_dispatch:

env:
  ZIP_NAME: TexconvCustomDLL

jobs:
  build:
    strategy:
      matrix:
        use_libs: [false, true]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          git submodule update --init --recursive --recommend-shallow --depth 1

      - name: build texconv
        run: |
          docker build --build-arg JPGPNG=${{ matrix.use_libs }} -t texconv -f Dockerfile_Ubuntu ./

      - name: Copy files
        run: |
          mkdir -p release/${{ env.ZIP_NAME }}
          docker run --name texconv texconv
          docker cp texconv:/Texconv-Custom-DLL/libtexconv.so ./release/${{ env.ZIP_NAME }}
          docker cp texconv:/Texconv-Custom-DLL/texconv ./release/${{ env.ZIP_NAME }}
          docker cp texconv:/Texconv-Custom-DLL/texassemble ./release/${{ env.ZIP_NAME }}
          cp changelog.txt release/${{ env.ZIP_NAME }}
          cp LICENSE release/${{ env.ZIP_NAME }}
          cp THIRD_PARTY_LICENSES.txt release/${{ env.ZIP_NAME }}
          cd release
          tar -jcvf ${{ env.ZIP_NAME }}-${{ runner.os }}-x64${{ ((matrix.use_libs == false) && '-no-deps') || '' }}.tar.bz2 ${{ env.ZIP_NAME }}

      - name: Create Release Draft
        id: create-release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref }}
          name: ${{ github.ref }}
          body: |
            Changelog
            - First Change
            - Second Change
          draft: true
          prerelease: false

      - name: Upload Release Asset
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload ${{ github.ref }} release/${{ env.ZIP_NAME }}-${{ runner.os }}-x64${{ ((matrix.use_libs == false) && '-no-deps') || '' }}.tar.bz2
