name: test

on:
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        include:
          - os: windows-latest
            arch: x64
          - os: windows-11-arm
            arch: arm64
          - os: macos-latest
            arch: ""
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - run: git submodule update --init --recursive --recommend-shallow --depth 1

      - name: install nasm
        if: runner.os == 'macOS'
        run: brew install nasm

      - name: build and run tests
        run: ./build.cmd --test

  test_linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          git submodule update --init --recursive --recommend-shallow --depth 1

      - name: build texconv
        run: |
          docker build --build-arg TEST=true -t texconv -f Dockerfile_Ubuntu ./
